<div class="collection">
  <div class="bar">
    <div class="tabbed">
      <a href="/users/settings">Basic Settings</a>
      <a href="/users/settings/signature">Edit Signature</a>
      <a href="/users/settings/avatar">Profile Picture</a>
      <a href="/users/settings/banner">Update Banner</a>
      <a href="/users/settings/guild" class="br-none">Join Guild</a>
    </div>
  </div>
</div>
