<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
      <thead>
        <tr>
          <th>Topic</th>
          <th>Created By</th>
          <th>Msgs</th>
          <th>Last Post</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Skipping the opening is not the way to go</td>
          <td>kant69</td>
          <td class="forum__msg">10</td>
          <td>2/13 1:09PM</td>
        </tr>
        <tr>
          <td>This is a test</td>
          <td>kant69</td>
          <td class="forum__msg">10</td>
          <td>2/13 1:09PM</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
