body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none !important;
}

.board {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 1em;
}
.board a {
  color: #27272c;
}
.board .topic {
  background-color: #4e90f1;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  padding: calc(0.475rem - 1px) calc(1.2rem - 1px);
  cursor: pointer;
  align-items: center;
  border: 1px solid transparent;
  position: relative;
  display: inline-flex;
  vertical-align: baseline;
  background-clip: padding-box;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 600;
  margin-top: 3em;
  justify-content: center;
  text-decoration: none;
}
.board table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
}
.board th {
  background-color: #191717;
  border: 1px solid #191717;
  color: white;
  font-weight: normal;
  text-align: left;
  padding: 5px;
}
.board td {
  color: #191717;
  padding: 5px;
}
.board td span {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.board tr:nth-last-child(even) {
  background-color: #f8f8f4;
  border-bottom: 1px solid #f8f8f4;
  border-left: 1px solid #f8f8f4;
  border-right: 1px solid #f8f8f4;
}
.board .pagination {
  display: flex;
  justify-content: flex-end;
}
.board .pagination a {
  margin: 0 10px;
}

.topbar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.nav {
  align-items: center;
  background-color: #27272c;
  display: flex;
  justify-content: space-between;
}
.nav a {
  color: #fff;
}
.nav .title {
  color: #fff;
  margin: 0 50px;
  padding: 5px 0;
}
.nav .title .title-c {
  font-size: 28px;
}
.nav button {
  transition: opacity 0.3s ease;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  padding: calc(0.475rem - 1px) calc(1.2rem - 1px);
  text-decoration: none;
  vertical-align: baseline;
}
.nav .nav_btn-signup {
  background-color: #50c878 !important;
}
.nav .nav_btn-login {
  background-color: #f31559 !important;
}
.nav .dropdown-menu a {
  color: #27272c;
}

.login {
  display: flex;
  justify-content: center;
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 4em;
}

.post {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 4em;
}
.post .post-a {
  color: #797878;
  font-size: 14px;
}
.post .post-t .post-topic {
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 700;
}
.post .post-t .post-forum {
  color: #afaeae !important;
  font-weight: 400 !important;
}
.post .a1 {
  display: flex;
  margin-top: 5px;
  padding-top: 2px;
}
.post .a1 .b1 {
  text-align: center;
  background-color: #27272c;
  border: 1px solid #27272f;
  padding: 5px 2px;
  width: 150px;
}
.post .a1 .b1 p {
  color: #fff;
  margin: 0;
  padding-top: 5px;
}
.post .a1 .b1 img {
  height: 140px;
  width: 140px;
}
.post .a1 .b1 .b1-g {
  font-size: smaller;
}
.post .a1 .c1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #c0c0c0;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 10px;
}
.post .a1 .c1 span {
  word-wrap: break-word;
  white-space: pre-line;
}
.post .a1 .c1 .c1-s .c1-sig {
  font-size: smaller;
  font-style: italic;
}
.post .post-btn {
  background-color: #5eb334;
  border: 1px solid #57b32a;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
  box-shadow: #5eb334 0 0 0 1px, rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(0, 0, 0, 0.25) 0 1px 1px;
  padding: 2px 8px;
}

.userbar {
  display: flex;
  margin-top: 20px;
}
.userbar div {
  border-radius: 3px;
  font-size: 14px;
  margin-right: 10px;
}
.userbar a {
  padding: 2px 8px;
}
.userbar .ub-u {
  border: 1px solid #c0c0c0;
}
.userbar .ub-u a {
  color: #5c5c5c !important;
}
.userbar .ub-t {
  border: 1px solid #c0c0c0;
}
.userbar .ub-t a {
  color: #5c5c5c !important;
}
.userbar a {
  color: #fff;
}

.ub-p {
  background-color: #4e90f1;
  border: 1px solid #4c8ef1;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
  box-shadow: #4e90f1 0 0 0 1px, rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(0, 0, 0, 0.25) 0 1px 1px;
  color: #fff;
}

.profile {
  max-width: 1220px;
  margin: 0 auto;
}
.profile .banner {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.profile .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile .banner .banner-user {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
}
.profile .banner .banner-user .banner-name {
  display: flex;
  flex-direction: column;
}
.profile .banner .banner-user .banner-name h5 {
  color: #fff;
  margin-top: 20px;
}
.profile .banner .banner-user .avatar {
  width: 20%;
  height: 20%;
  border: 2px solid #fff;
  margin-right: 10px;
  margin-top: 7.5px;
}
.profile .banner .banner-user h3 {
  color: #fff;
  margin: 0;
}
.profile .mb {
  margin-top: 3em;
}
.profile .mb .mb-info {
  border-top: 1px solid #afaeae;
  width: 50%;
}
.profile .mb .mb-info ul {
  padding-left: 0;
}
.profile .mb .mb-info ul li {
  list-style-type: none;
  margin-top: 5px;
}

.settings {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 5em;
}
.settings .collection .bar {
  display: flex;
  justify-content: space-between;
}
.settings .collection .bar .tabbed {
  border: 1px solid #afaeae;
  border-radius: 5px;
  margin-top: 2em;
}
.settings .collection .bar .tabbed a {
  border-right: 1px solid #afaeae;
  color: #50535a;
  cursor: pointer;
  padding: 0 2em;
  text-decoration: none;
  transition: 0.15s;
}
.settings .collection .bar .tabbed a:hover {
  color: #4abd4e;
}
.settings .collection .bar .tabbed .br-none {
  border-right: none !important;
}
.settings .settings-p {
  margin-top: 20px;
}
.settings .settings-p .intro {
  margin-bottom: 50vh;
}
.settings .settings-p .intro .intro-s {
  width: 60%;
}
.settings .signature h5 {
  margin: 1em 0;
}
.settings .signature input {
  width: 60%;
}
.settings .signature .description-s {
  margin-top: 2em;
  width: 70%;
}
.settings .submit-btn {
  margin-left: 5px;
  margin-top: 15px;
}

.footer .content-f {
  background-color: #27272c;
  height: 250px;
  margin-top: 4em;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
