body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 3em;
}

th {
  background-color: #191717;
  border: 1px solid #191717;
  color: white;
  font-weight: normal;
  text-align: left;
  padding: 5px;
}

td {
  color: #191717;
  padding: 5px;
}

td span {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

tr:nth-last-child(even) {
  background-color: #f8f8f4;
  border-bottom: 1px solid #f8f8f4;
  border-left: 1px solid #f8f8f4;
  border-right: 1px solid #f8f8f4;
}

.topic {
  background-color: #4e90f1;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  padding: calc(0.475rem - 1px) calc(1.2rem - 1px);
  cursor: pointer;
  align-items: center;
  border: 1px solid transparent;
  position: relative;
  display: inline-flex;
  vertical-align: baseline;
  background-clip: padding-box;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 600;
  margin-top: 3em;
  justify-content: center;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav button {
  transition: opacity 0.3s ease;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  padding: calc(0.475rem - 1px) calc(1.2rem - 1px);
  text-decoration: none;
  vertical-align: baseline;
}

.login {
  display: flex;
  justify-content: center;
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 4em;
}

.nav_btn-signup {
  background-color: #50c878 !important;
}

.nav_btn-login {
  background-color: #f31559 !important;
}
