body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none !important;
}

.board {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 1em;
  a {
    color: #27272c;
  }
  .topic {
    background-color: #4e90f1;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    padding: calc(0.475rem - 1px) calc(1.2rem - 1px);
    cursor: pointer;
    align-items: center;
    border: 1px solid transparent;
    position: relative;
    display: inline-flex;
    vertical-align: baseline;
    background-clip: padding-box;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 600;
    margin-top: 3em;
    justify-content: center;
    text-decoration: none;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
  }

  th {
    background-color: #191717;
    border: 1px solid #191717;
    color: white;
    font-weight: normal;
    text-align: left;
    padding: 5px;
  }

  td {
    color: #191717;
    padding: 5px;
  }

  td span {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
  }

  tr:nth-last-child(even) {
    background-color: #f8f8f4;
    border-bottom: 1px solid #f8f8f4;
    border-left: 1px solid #f8f8f4;
    border-right: 1px solid #f8f8f4;
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
    a {
      margin: 0 10px;
    }
  }
}

.topbar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.nav {
  align-items: center;
  background-color: #27272c;
  display: flex;
  justify-content: space-between;
  a {
    color: #fff;
  }
  .title {
    color: #fff;
    margin: 0 50px;
    padding: 5px 0;
    .title-c {
      font-size: 28px;
    }
  }
  button {
    transition: opacity 0.3s ease;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    margin: 0;
    padding: calc(0.475rem - 1px) calc(1.2rem - 1px);
    text-decoration: none;
    vertical-align: baseline;
  }
  .nav_btn-signup {
    background-color: #50c878 !important;
  }

  .nav_btn-login {
    background-color: #f31559 !important;
  }
  .dropdown-menu {
    a {
      color: #27272c;
    }
  }
}

.login {
  display: flex;
  justify-content: center;
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 4em;
}

.post {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 4em;
  .post-a {
    color: #797878;
    font-size: 14px;
  }
  .post-t {
    .post-topic {
      color: #5c5c5c;
      font-size: 18px;
      font-weight: 700;
    }
    .post-forum {
      color: #afaeae !important;
      font-weight: 400 !important;
    }
  }
  .a1 {
    display: flex;
    margin-top: 5px;
    padding-top: 2px;
    .b1 {
      text-align: center;
      background-color: #27272c;
      border: 1px solid #27272f;
      padding: 5px 2px;
      width: 150px;
      p {
        color: #fff;
        margin: 0;
        padding-top: 5px;
      }
      img {
        height: 140px;
        width: 140px;
      }
      .b1-g {
        font-size: smaller;
      }
    }
    .c1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid #c0c0c0;
      flex-grow: 1;
      flex-shrink: 0;
      padding: 10px;
      span {
        word-wrap: break-word;
        white-space: pre-line;
      }
      .c1-s {
        .c1-sig {
          font-size: smaller;
          font-style: italic;
        }
      }
    }
  }
  .post-btn {
    background-color: #5eb334;
    border: 1px solid #57b32a;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
    box-shadow: #5eb334 0 0 0 1px, rgba(255, 255, 255, 0.15) 0 1px 0 inset,
      rgba(0, 0, 0, 0.25) 0 1px 1px;
    padding: 2px 8px;
  }
}

.userbar {
  display: flex;
  margin-top: 20px;
  div {
    border-radius: 3px;
    font-size: 14px;
    margin-right: 10px;
  }
  a {
    padding: 2px 8px;
  }
  .ub-u {
    border: 1px solid #c0c0c0;
    a {
      color: #5c5c5c !important;
    }
  }
  .ub-t {
    border: 1px solid #c0c0c0;
    a {
      color: #5c5c5c !important;
    }
  }
  a {
    color: #fff;
  }
}

.ub-p {
  background-color: #4e90f1;
  border: 1px solid #4c8ef1;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
  box-shadow: #4e90f1 0 0 0 1px, rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(0, 0, 0, 0.25) 0 1px 1px;
  color: #fff;
}

.profile {
  max-width: 1220px;
  margin: 0 auto;
  .banner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .banner-user {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: flex-start;
      .banner-name {
        display: flex;
        flex-direction: column;
        h5 {
          color: #fff;
          margin-top: 20px;
        }
      }
      .avatar {
        width: 140px;
        height: 140px;
        border: 2px solid #fff;
        margin-right: 10px;
        margin-top: 7.5px;
      }
      h3 {
        color: #fff;
        margin: 0;
      }
    }
  }
  .mb {
    margin-top: 3em;
    .mb-info {
      border-top: 1px solid #afaeae;
      width: 50%;
      table {
        td {
          padding: 5px;
        }
      }
    }
  }
}

.settings {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 5em;
  .collection {
    .bar {
      display: flex;
      justify-content: space-between;
      .tabbed {
        border: 1px solid #afaeae;
        border-radius: 5px;
        margin-top: 2em;
        a {
          border-right: 1px solid #afaeae;
          color: #50535a;
          cursor: pointer;
          padding: 0 2em;
          text-decoration: none;
          transition: 0.15s;
        }
        a:hover {
          color: #4abd4e;
        }
        .br-none {
          border-right: none !important;
        }
      }
    }
  }
  .settings-p {
    margin-top: 20px;
    .intro {
      margin-bottom: 50vh;
      .intro-s {
        width: 60%;
      }
    }
  }
  .signature {
    h5 {
      margin: 1em 0;
    }
    input {
      width: 60%;
    }
    .description-s {
      margin-top: 2em;
      width: 70%;
    }
  }
  .submit-btn {
    margin-left: 5px;
    margin-top: 15px;
  }
}

.footer {
  .content-f {
    background-color: #27272c;
    height: 250px;
    margin-top: 4em;
    width: 100%;
  }
}
